@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* color: white; */
}

ul,
ol {
    list-style-type: none;
}

html {
    --mainColor: #62AC43;
}
img {
    max-width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* @font-face {
    font-family: myfont;
    src: url(../circular-std-font-family/CircularStd-Black.woff2);
} */
/* body {
    font-family: myfont;
} */

/* --============================ header section start  ===========================-- */

header {
    background-image: url(/assets/image/bg\ style.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    
}

.menubar ul li a {
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
}
.login {
    display: flex;
    gap: 30px;
}
.login a {
    color: black;
    padding: 6px 30px;
    /* border: 1px solid rgba(128, 128, 128, 0.274);
    border-radius: 40px; */
    font-style: normal;
    font-weight: 450;
    font-size: 17px;

}
.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}
.login a:hover {
    /* background: rgb(219, 170, 65); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: none;
    color: var(--mainColor);
}
/* --============================ header section end  ===========================-- */



/* --============================ hero section start  ===========================-- */

.hero_content h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    color: #313131;
}
.hero_content p {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    color: #828282;
}
.grnClr {
    color: var(--mainColor);
}

.hero_btn .btn1, .hero_btn .btn2, .gallery_btn .btn1{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 30px;
    background: var(--mainColor);
    border-radius: 5px;
}

.hero_btn .btn2 {
    background: #2D2D2D;
}
/* --============================ hero section end  ===========================-- */
.sponsored {
    background: #FAFAFA;
    padding: 50px 0px;
    margin-bottom: 100px;
}


/* --============================ gallery section start  ===========================-- */
.gallery_part {
    margin-bottom: 100px;
}
.top_heading h2 {
    font-style: normal;
    font-weight: 450;
    font-size: 50px;
    text-align: center;
    letter-spacing: -0.06em;
    margin-bottom: 100px;
}
.blkColor {
    color: #313131;
    position: relative;
}
.blkColor::after {
    content: "";
    width: 125px;
    height: 2px;
    background-color: #2D2D2D;
    position: absolute;
    top: 65px;
    left: 0;
    bottom: 0;
}

.gallery {
    position: relative;
    padding: 20px;
}
.gallery::before {
    content: "";
    width: 10%;
    height: 10%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 1px solid #313131;
    border-bottom: 1px solid #313131;
    /* box-sizing: border-box; */
}

.gallery::after {
    content: "";
    width: 10%;
    height: 10%;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 1px solid #313131;
    border-right: 1px solid #313131;
    /* box-sizing: border-box; */
}
/* --============================ gallery section end  ===========================-- */


/* --============================ design section start  ===========================-- */
.grnClr2 {
    color: var(--mainColor);
    font-style: normal;
    font-weight: 450;
    font-size: 50px;
    text-align: center;
    letter-spacing: -0.06em;
    position: relative;
}
.grnClr2::after {
    content: "";
    width: 250px;
    height: 2px;
    position: absolute;
    background-color: var(--mainColor);
    left: 0;
    bottom: 0;

}

 .design_card .card_title h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #313131;
}
.icon i {
   color: #FFBA0A;
   font-weight: bold;
}
.design_card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
.design_card .card-text {
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    color: #828282;
}

.design_icon img {
    padding: 15px;
    background: whitesmoke;
    border-radius: 10px;
}

.design_footer div img {
    width: 24px;
    height: 20px;
   
}
/* --============================ design section end  ===========================-- */



@media (max-width: 600px){
    .sponsored .row .col-12 {
        display: flex;
        justify-content: center;
        
    }
    .sponsored .row .col-12 img {
        width: 100px;
        height: auto;
        margin-bottom: 50px;
    }
}